.action-header {
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 76px;
	font-size: 70px;
	margin-bottom: 15px;
}

.action-header_small { /*for all except for header */
	line-height: 64px;
	font-size: 55px;
}
