@import url('https://fonts.googleapis.com/css?family=Fjalla+One:300,400');

.action-header {
	font-family: Fjalla One;
	color: #FFFFFF;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 76px;
	font-size: 70px;
	text-align: left;

}

.action-header_small { /*for all except for header */
	line-height: 64px;
	font-size: 55px;
}

.action-header_center { /*for all except for header*/
	text-align: center;
}