.info-block {
	width: 469px;
	height: 144px;
	box-sizing: border-box;
	background: #2D2A48;
	border: 1px solid #6146D7;
	text-align: right;
	padding: 41px 29px 40px 343px;

	font-family: Fjalla One, sans-serif;
	font-weight: normal;
	line-height: 63px;
	font-size: 50px;
	color: #fbfbfb;
}

.info-block__text {
	
}

.info-block_long {
	width: 859px;
	height: 187px;
	padding: 28px 45px 116px 743px;
	line-height: 43px;
	font-size: 34px;
	background-image: url(info-block__graphic.svg);
	background-repeat: no-repeat;
	background-position: center bottom;


	
}